extends ../layout

block sidebar
	include ../sidebar.jade
	div.sidebar-nav
		ul.nav.nav-list.nav-stack
			li
				a(href='/admin/list/state/2') 구매요청 목록
			li
				a(href='/admin/lateList') 연체 도서 목록
			li
				a(href='/admin/list') 전체 도서 관리

block content
	script(type='text/javascript')
		$(function(){
				model.getList({query:{state:2, sort:'created_at|-1', countPerPage:5}, target:$("#reqBooks")});
				model.getList({query:{state:1, sort:'created_at|1', overrent:1, countPerPage:5}, target:$("#overBooks")});
				model.getList({query:{state:1, sort:'created_at|1', countPerPage:5}, target:$("#rentBooks")});
		});
	h1 도서관 관리
	div.row-fluid
		div.span4
			h3 구매요청 도서
				a.btn.btn-link.btn-mini(href='/admin/list/state/2')더보기
			div#reqBooks.well
		div.span4
			h3 연체 도서
			div#overBooks.well
		div.span4
			h3 대출중 도서
			div#rentBooks.well

	
