extends ../layout

block sidebar
	include ../sidebar.jade
	div.sidebar-nav
		ul.nav.nav-list.nav-stack
			li
				a(href='/admin/list/state/2') 구매요청 목록
			li
				a(href='/admin/lateList') 연체 도서 목록
			li
				a(href='/admin/list') 전체 도서 관리

block content
	h1 도서관 관리
	div.row-fluid
		div.span4
			h3 신청 도서
			div#reqBooks
		div.span4
			h3 연체 도서
			div#badBooks
		div.span4
			h3 대출중 도서
			div#rentBooks

	
