doctype 5
html
	head
		title Neople 도서관
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/stylesheets/style.css')
		script(type='text/javascript',src='/javascripts/jquery.min.js')
		script(type='text/javascript',src='/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript',src='/javascripts/model.js')
		style(type='text/css')
			body { padding-top:60px; padding-bottom:40px; }
			.sidebar-nav { padding:9px 0; }
		script(type='text/javascript')
			$(function(){
				var pathname = location.pathname;
				$("a[href='" + pathname + "']").parent().addClass("active");
			});
	body
		div#topbar.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container-fluid
					a.brand(href='/') NeopleLibrary
					ul.nav
						li
							a(href='/') Home
						li
							a(href='/list') List
						li
							a(href='/request') Request
						li
							a(href='/admin') Admin

			
		div#main.container-fluid
			div.row-fluid
				div.span2
					block sidebar
						include sidebar.jade
				div.span10
					block content
