extends layout

block content
	script(type='text/javascript',src='/javascripts/list.js')
	link(rel='stylesheet',href='/stylesheets/list.css')
	div.row-fluid
		div.navbar
			div.navbar-inner
				a.brand(href='/list') 도서리스트
				form#searchForm.navbar-search.pull-left
					input#in_search.search-query(type='text',placeholder='검색어를 입력하세요.')
				ul.nav
					li.dropdown
						a(href='#',data-toggle='dropdown').dropdown-toggle
							상태
							b.caret
						ul#view_type.dropdown-menu
							li
								a(href='') 전체보기
							li
								a(href='state/0') 대여 가능
							li
								a(href='state/1') 대여중
							li
								a(href='state/2') 구매중

	div#booklist.row-fluid
		
