extends layout

block content
	div.hero-unit
		h1 네오플 도서관
		p
			| 우리 모두가 함께 만들어가는 네오플의 작은 도서관!
	div.row-fluid
		div.span6
			h2 도서조회
			form(method='post',action='/check')
				input.span10.input-block-level(type='text',placeholder='도서 번호를 입력하거나 바코드를 찍어주세요')
				button.btn.span2.btn-primary.pull-right(type='submit')
					i.icon-ok.icon-white
					조회
		div.span4
			h2 신간안내
			
