div.sidebar-nav.sidebar
	ul.nav.nav-list
		li
			a(href='/')
				i.icon-book
				도서조회/대여
		li
			a(href='/list')
				i.icon-list
				도서 목록
		li
			a(href='/request')
				i.icon-file
				도서 구매 신청
		li
			a(href='/admin')
				i.icon-wrench
				관리 메뉴
